#menu-top {
	margin-left: 205px;
	font-family: verdana, arial, sans-serif;	
	font-size: xx-small;
    /* false value for WinIE4/5 */
    voice-family: "\"}\"";   
    /* trick WinIE4/5 into thinking rule is over */
    voice-family: inherit;   
    /* recover from trick */
    /* intended value for better browsers */
	font-weight: bold;
	padding: 0;
}

#menu-top ul {
	list-style: none;
	padding: 0;
	margin: 0;
/*	background-color: #000;*/	
}

#menu-top ul li {
	float: left;
	background-image: url(../images/menu_top_left.gif);
	background-position: top left;
	background-repeat: no-repeat;	
	height: 22px;
	padding: 0;
	margin: 0; 
	margin-right: 7px;
}

#menu-top ul li a {
	color: #fff;
	text-decoration: none;
	line-height: 22px;
	padding-left: 7px;
	padding-right: 7px;	
	display: run-in;
}

#menu-top ul li div.rcorner {
	float: left;
	background-image: url(../images/menu_top_right.gif);	
	background-position: top right;
	background-repeat: no-repeat;
	padding-left: 7px;
	padding-right: 7px;
}

#menu-top ul li.selected div.rcorner {
	float: left;
	background-image: url(../images/menu_top_right_selected.gif);	
	background-position: top right;
	background-repeat: no-repeat;
	padding-left: 7px;	
	padding-right: 7px;	
}
	

#menu-top ul li.selected {
	background-image: url(../images/menu_top_left_selected.gif);
}


#menu-left {	/* for ie55  */
	width: 160px;
	background-color: #f2f2f2;
	background-image: url(../images/menu_left_top.gif);
	background-position: top right;
	background-repeat: no-repeat;
	font-family: verdana, arial, sans-serif;
	font-size: xx-small;	
    /* false value for WinIE4/5 */
    voice-family: "\"}\"";   
    /* trick WinIE4/5 into thinking rule is over */
    voice-family: inherit;   
    /* recover from trick */
    
    /* intended value for better browsers */
	font-weight: bold;
	padding: 0;
	margin-left: 15px;
}

#menu-left ul
{
	background-image: url(../images/menu_left_bottom.gif);
	background-position: bottom left;
	background-repeat: no-repeat;
	list-style: none;
	padding: 7px 0 7px 0;
	margin: 0;
/*	background-color: #000;*/
}

	
#menu-left ul ul {
	background: none;
	/* background-color: #c1c1c1; */
	background-color: #ccc;
	margin: 0;
	padding: 0;
	border-top: 1px solid #ccc;
}
	
#menu-left ul li {
	margin: 0;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding-left: 15px;
}
	
#menu-left ul li:last-child {
	border-bottom: 1px solid #f2f2f2;
}

#menu-left ul li.selected {
	background-position: top left;
	background: url(../images/menu_left_selected.gif);
	background-color: #3F5368;	
	border-top: 1px solid #222;	
	border-bottom: 1px solid #222;
	border-left: 1px solid #222;
	border-right: 1px solid #222;
}

#menu-left ul li.selected span {
	display: none;
}
	
#menu-left ul li a {
	width: 100%;
	color: #555;
	text-decoration: none;
	padding: 3px 5px 3px 0px;
	line-height: 20px; 
	margin: 0;
}

#menu-left ul li.selected a {
	color: #fff;
	text-decoration: none;
	padding: 3px 5px 3px 0px;
	margin: 0;
}
	
#menu-left ul ul li.selected {
	background: #6c6c6c;
}

#menu-subtop ul {
	background: none;
        background-image: url(../images/heading-back.gif);
	background-position: bottom left;
	background-repeat: no-repeat;
	list-style: none;
        border-right: 1px solid #ccc;
	padding-left: 30px;
        font-size: 10px;
        font-weight: bold;
        color: #656565;
        margin: 0;
	margin-bottom: 15px;
        line-height: 20px;
        display: block;
	width: inherit;
	height: 20px;
}

#menu-subtop ul li {
	margin: 0;
	float: left;
	padding-right: 15px;
}

#menu-subtop ul li a {
        text-decoration: underline;
	font-weight: normal;
}	

#menu-subtop ul li.selected {
	float: left;
	padding-right: 15px;
}

#menu-subtop ul li.selected a {
        text-decoration: none;
	font-weight: bold;
        color: #555555;
}