span[id^=ledgr],li#liledgr,label#lbledgr
{
	background-position:0 0;
}

span[id^=ledbl],li#liledbl,label#lbledbl
{
	background-position:0 -20px;
}

span[id^=ledye],li#liledye,label#lbledye
{
	background-position:0 -40px;
}

span[id^=ledrd],li#liledrd,label#lbledrd
{
	background-position:0 -60px;
}

span[id^=ledgy],li#liledgy,label#lbledgy
{
	background-position:0 -80px;
}

span#rel,li#lirel
{
	background-position:0 -100px;
}

span#glo,li#liglo
{
	background-position:0 -120px;
}

span#del,li#lidel,label#lbdel,button[id^=del]
{
	background-position:0 -140px;
}

span#blo,li#liblo
{
	background-position:0 -160px;
}

#stat
{
	background-position:0 -180px;
}

#wrench
{
	background-position:0 -200px;
}

#set
{
	background-position:0 -220px;
}

#oview
{
	background-position:0 -240px;
}

.symbols
{
	background:transparent url(/themes/maniac/images/updxl-icons.gif) no-repeat;
	height:20px;
	width:20px;
}

.vendimg
{
	background-repeat:no-repeat;
	height:18px;
	width:18px;
}

.noborder
{
	border:none;
}

fieldset
{
	padding: 0 0 .5em;
	margin-bottom: .5em;
	border: 1px dotted #E1E1E1;
	border-top: none;
	border-left: none;
	border-right: none;
}

legend
{
	margin-left:0;
	padding-left:0;
	padding-right:.5em;
	font-weight: bolder;
}

label
{
	cursor:pointer;
	padding-right:1em;
}

label[for^=text],label[for^=select]
{
	padding-right:.2em;
}

label.symbols
{
	display:inline-block;
	min-height:20px;
	padding-left:25px;
	width:auto;
}

button[id^=del]
{
	border-style:none;
}

input:invalid
{
	border:2px solid red;
}

input#text01
{
	height:1em;
	max-width:120px;
}

input#text02
{
	width:7em;
}

input[type=submit]
{
	border:1px solid #2941BC;
    margin-right: 3em;
    margin-left: 3em;
}

output#duval
{
	display:inline-block;
	min-width:2em;
	text-align:right;
}

.frmshow
{
	position:absolute;
	right:0;
	top:0;
}

.frmshow fieldset
{
	display:inline-block;
	position:relative;
}

.frmshow legend
{
	display:inline-block;
}

.frmshow legend span
{
	left:-100px;
	position:absolute;
	top:.2em;
}

.frmshow button
{
	background-color:#CA2F2F;
	border:1px solid #2941BC;
	color:#000;
	display:inline;
	height:22px;
	padding-left:25px;
	padding-right:5px;
	width:auto;
	cursor: pointer;
}

.frmshow button:disabled
{
	border:1px solid #fff;
	color:#F1F1F1;
	cursor: default;
}

span.symbols,span.vendimg
{
	display:inline-block;
}

caption
{
	margin-top:.5em;
	font-weight:bolder;
}

table
{
	width:100%;
}

#diskusage td
{
	text-align:center;
}

#summary
{
	background-color:none!important;
}

[id^=list] thead tr th
{
	border-bottom:1px dotted #fff;
}

th
{
	text-align:center;
}

td,th
{
	padding:3px;
}

tbody tr:nth-child(even)
{
	background:#1C1C1C;
}

tbody tr:nth-child(odd)
{
	background:#4F4F4F;
}

th span.symbols,th span.vendimg
{
	vertical-align:middle!important;
}

th span[id^=vd].vendimg
{
	display:block;
	padding-left:27px;
	text-align:left!important;
	width:auto;
}

tbody tr td
{
	text-align:right;
}

tfoot tr td
{
	border-top:1px dotted #E1E1E1;
}

tfoot ul
{
	list-style-type:none;
	margin-left:1em;
	padding-left:0;
}

li.symbols
{
	padding-left:23px;
}

li.vendimg
{
	padding-left:25px;
}

tfoot ul li
{
	background-repeat:no-repeat;
	display:inline;
	margin-bottom:.3em;
	padding-right:1em;
}

li.symbols,li.vendimg
{
	display:inline-block;
	width:auto;
}

td[id^=legend] h5
{
	font-size:.9em;
}

div#pbar
{
	background-color:#90EE90;
	border:1px solid #a0a0a0;
	color:#000;
	font-weight:bolder;
	height:15px;
	min-width:100px;
	padding-right:2px;
	position:relative;
	text-align:left;
	width:auto;
}

div[id^=bar]
{
	background-color:red;
	border:1px solid #e2e2e2;
	border-left:none;
	border-right:none;
	float:left;
	height:13px;
}

div#bar1
{
	background-color:orange;
}

div#bar2
{
	background-color:blue;
}

div#bar3
{
	background-color:#FF0;
}

span#duused
{
	color: red;
	font-weight: bolder;
}

span#free
{
	color: green;
	font-weight: bolder;
}

span#percent
{
	font-weight:bolder;
	position:relative;
}

span#max
{
	position:absolute;
	right:2px;
}

span#used
{
	color: orange;
	font-weight: bolder;
}

hr
{
	margin-bottom:1em;
}

#errors
{
	color:#CA2F2F;
	font-weight:bolder;
}