[client]
password = mysqlfire
port = 3306
socket = /var/run/mysql/mysql.sock

[mysqld]
port = 3306
socket = /var/run/mysql/mysql.sock
datadir = /srv/mysql
bind-address=127.0.0.1

[mysql.server]
user=mysql
basedir=/var/lib

[mysqld_safe]
log-error=/var/log/mysqld.log
#pid-file=/var/run/mysqld/mysqld.pid

[mysql]
no-auto-rehash
# Remove the next comment character if you are not familiar with SQL
#safe-updates
